<AuthorizeView>
    <Authorized>
        <h6>Hello, @context.User.Identity.Name! </h6>
        <a href="AzureAD/Account/SignOut">[Log out]</a>
    </Authorized>
    <NotAuthorized>
        <a href="AzureAD/Account/SignIn">[Log in]</a>
    </NotAuthorized>
</AuthorizeView>
